<%= form_tag '/task/update', class: "form-inline", role: "form"  do %>
  <div class="form-group">  
    <%= label_tag :description, 'Description:' %>
    <%= text_field_tag :description, @description, class: "form-control", placeholder: "description" %>
  </div>
  <div class="form-group">
    <%= label_tag :is_complete, 'Complete:' %>
    <%= check_box_tag(:is_complete, true, @is_complete) %>
  </div>
  <%= hidden_field_tag :task_id, @task_id %>
  
  <%= submit_tag "Submit", class: "btn btn-default" %>
      
  </div>
  <% end %>